<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_hp.css" type="text/css">

    <title>Confimation</title>
</head>
<body>

    <div class="bg_img">
        <div class="design">
            <h1>Confirmation: </h1>

            <div class="ticket changeColor" id="add_padding">
            
                <p> Dear <%= firstName %> <%= lastName %>, </p>
                <p> Your order for <%= ticketCount %> ticket(s) from <%= depAirport %> to <%= airAirport %> has been recieved.</p>
                <p> You will recieve a confirmation email from us to the following email address: <%= email %> </p>
                <br>
                <p> Thank you for choosing Dreamify Travelz :) </p>

                <p> We hope you enjoy your trip!</p>

            </div>

            <h2 class="center_txt"> <a href="/">Home</a></h2>

        </div>
    </div>


</body>
</html>