<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_hp.css" type="text/css">
    <title>Flight Results</title>
</head>
<body>
    <div class="bg_img">
        <div class="design center_txt">
            <h1>Available Flights from <%= departure %> to <%= arrival %></h1>

            <% if (matching_flights.length > 0) { %>


                <form action="/book_flight" method="post">
                    <fieldset>
                        <% matching_flights.forEach(flight => { %>

                            <div class="get_fight_option_con">

                                <input type="radio" id="flight" name="selectedFlight" value=<%= flight.uniqueNum %>>
                                <label for="flight">

                                    <div class="get_fight_snd">
                                        <strong class="txt_size"><%= flight.airline.name %> - (<%= flight.airline.iata %>)</strong>
                                    </div>
                                    <div class="get_fight_snd">
                                        <strong class="txt_size_smaller">Departure Airport:</strong> <%= flight.departure.airport %> | <strong class="txt_size_smaller">Departure Time:</strong> <%= flight.departure.scheduled %> <br>
                                        <strong class="txt_size_smaller">Arrival Airport:</strong> <%= flight.arrival.airport %> | <strong class="txt_size_smaller">Arrival Time:</strong> <%= flight.arrival.scheduled %> <br>
                                        <strong class="txt_size_smaller">Flight Number:</strong> <%= flight.flight.number %>
                                    </div>
                                </label>

                            </div>

                            <br>

                        <% }); %>

                    </fieldset>

                    <div class="center_txt">
                        <input type="reset" value="Clear" class="button_att"/>
                        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                        <input type="submit" value="Submit" class="button_att"/>
                    </div>

                </form>

                <h2> <a href="/travel_info">Go Back</a></h2>

            <% }
            else { %>
                <div class="no-flights">
                    <h2>No scheduled flights found between <%= departure %> and <%= arrival %></h2>
                    <h2><a href="/travel_info">Try another search</a></h2>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>